body {
    margin: 0;
    height: 100vh; 
    background-image: url('home/deumeni/downloads/Elastic.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.content {
    color: white; 
    text-align: center; 
    padding: 20px; 
}
